/** @format */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
	--Very-Dark-Magenta: hsl(300, 43%, 22%);
	--Light-Grayish-Magenta: hsl(300, 24%, 96%);
	--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
	--Soft-Pink: hsla(333, 80%, 67%, 0.7);
	--transparent-white: hsla(0, 0%, 100%, 0.9);
}

* {
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: fit-content;
}

body {
	margin: 0;

	background-image: url(images/bg-pattern-top-mobile.svg),
		url(images/bg-pattern-bottom-mobile.svg);
	background-repeat: no-repeat;
	background-position: top right, bottom left;
	/* background-size: contain, contain; */
}

.fitting-container {
	padding: 20% 0;
	width: 100%;
	/* height: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container {
	width: 85%;
	font-family: "League Spartan", sans-serif;
	font-size: 4vw;
}

.main-container header h1 {
	text-align: center;
	font-weight: 700;
	font-size: 2.3em;
	line-height: 0.8em;
	padding: 0 1em;
	color: var(--Very-Dark-Magenta);
}

.main-container header p {
	text-align: center;
	line-height: 1.3em;
	font-weight: 500;
	font-size: 1.08em;
	color: var(--Dark-Grayish-Magenta);
}

.ratings-section {
	margin: 13% auto;
}

.ratings-card {
	background-color: var(--Light-Grayish-Magenta);
	margin: 5% 0;
	padding: 1em 0;
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.7em 0;
}

.rating-icons-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.rating-icons {
	width: 6%;
}

.rating-description {
	font-weight: 700;
	color: var(--Very-Dark-Magenta);
}

.proof-card {
	background-color: var(--Very-Dark-Magenta);
	color: white;
	padding: 10% 8%;
	margin: 6% 0;
	border-radius: 0.5em;
}

.proof-card > :last-child {
	margin-bottom: 0;
}

.profile-info {
	display: flex;
	margin: 0.5em 0 1em 0;
}

.profile-pic {
	width: 13%;
	border-radius: 50%;
}

.user-details {
	margin-left: 1.6em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-weight: 500;
	font-size: 0.95em;
}

.username {
	margin-bottom: 0.3em;
}

.verification-status {
	color: var(--Soft-Pink);
	font-size: 0.93em;
}

.testimonial {
	color: var(--transparent-white);
	quotes: "“ " " ”" "‘ " " ’";
	padding-right: 2em;
	line-height: 1.4em;
}

.testimonial::before {
	content: open-quote;
}

.testimonial::after {
	content: close-quote;
}

/* For desktop */

@media screen and (min-width: 400px) {
	html,
	body {
		width: 100vw;
		height: 100vh;
	}

	body {
		background-image: url(images/bg-pattern-top-desktop.svg),
			url(images/bg-pattern-bottom-desktop.svg);

		background-position: top left, bottom right;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.fitting-container {
		padding: 25% 0;
		height: 90%;
	}

	.main-container {
		width: 70%;
		height: fit-content;
		font-size: 1vw;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		gap: 20% 10%;
	}

	.main-container header {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
		height: fit-content;
	}

	.ratings-section {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
		margin: 0;
	}

	.proofs-section {
		grid-column: 1 / span 2;
		grid-row: 2 / span 1;
		display: flex;
		align-items: center;
		column-gap: 2.5%;
	}

	.main-container header h1 {
		width: fit-content;
		margin-top: 0;
		padding: 0 3em 0 0;
		text-align: left;
		font-size: 3em;
	}

	.main-container header p {
		margin-bottom: 0;
		width: 100%;
		text-align: left;
		font-size: 1.1em;
		padding-right: 4em;
	}

	.ratings-section > :first-child {
		margin-top: 0;
	}

	.ratings-section > :last-child {
		margin-bottom: 0;
	}

	.ratings-card {
		width: 80%;
		flex-direction: row;
		/* justify-content: center; */
	}

	.ratings-card:nth-child(2) {
		margin-left: 10%;
	}

	.ratings-card:last-child {
		margin-left: 20%;
	}

	.ratings-card span {
		display: inline-block;
	}

	.rating-icons-container {
		text-align: center;
		margin: 0 1%;
		/* column-gap: 3%; */
	}

	.rating-description {
		font-size: 0.9em;
		width: 13em;
		margin-right: 2.5em;
	}

	.rating-icons {
		width: 1.3em;
		vertical-align: middle;
	}

	.proof-card {
		margin: 0;
		padding: 3% 2.5%;
		flex: 1;
	}

	.testimonial {
		padding: 0;
		font-size: 1.08em;
	}

	.proof-card:nth-child(2) {
		margin-top: 4%;
	}

	.proof-card:last-child {
		margin-top: 8%;
	}
}

.attribution {
	margin-top: 5%;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
